/*                        */
/*         Global         */
/*                        */

:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*       Responsive       */

@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}

/*       Styling Tag      */

html {
    font-size: 93.75%; /* 15px */  /* 100% = 16px */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/*         Titles         */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);

    font-weight: normal;
}

/*          Links         */

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

/*                        */
/*         Header         */
/*                        */

header {
    background: #2D4A22;
    padding: 2rem 0 11rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/*                        */
/*         Footer         */
/*                        */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);

    opacity: 0.6;
}